<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046507804769-kcsnf0vr5nhoc6o95kjfsn1voq7pkgvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046507804769-kcsnf0vr5nhoc6o95kjfsn1voq7pkgvd</string>
	<key>API_KEY</key>
	<string>AIzaSyCM1gPytQgdBmqQY5WBeR9bOT-6lP_CQnM</string>
	<key>GCM_SENDER_ID</key>
	<string>1046507804769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AwesomeProject2</string>
	<key>PROJECT_ID</key>
	<string>awesomeproject2-98a17</string>
	<key>STORAGE_BUCKET</key>
	<string>awesomeproject2-98a17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046507804769:ios:80fa1332a66355b6c07220</string>
</dict>
</plist>